@mixin page-container() {
   display: flex;
   flex-direction: column;
   padding: 0;
   column-gap: 0;

   @include at-breakpoint(medium) {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
   }

   @include at-breakpoint(large) {
      grid-template-columns: repeat(12, 1fr);
      max-width: 100vw;
   }

   @include at-breakpoint(x-large) {
      box-sizing: content-box;
   }
}
