@font-face {
   font-weight: 500;
   font-style: normal;
   font-family: "Visby Round Medium";
   src: url("/public/fonts/VisbyRoundCF-Medium.woff2") format("woff2");
}

@font-face {
   font-weight: 400;
   font-style: normal;
   font-family: "Visby Round Regular";
   src: url("/public/fonts/VisbyRoundCF-Regular.woff2") format("woff2");
}
